.nav-top {
    background-color: rgb(119, 117, 117) !important;
}

.nav-link {
    color: white !important;
}

footer {
    background-color: rgb(119, 117, 117) !important;
    color: white !important;
    text-align: center !important;
}